.csym019 {
    
    width: 50%;
    background-color: rgb(38, 193, 240);
    /*display: inline-block ;*/
    float: left;


}
.csym015 {
    
    width: 50%;
    background-color: yellow;
    /*display: inline-block ;*/
    float: left;


}